<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BookManager</display-name>
  <welcome-file-list>
    <welcome-file>QueryBooksServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>QueryBooksServlet</display-name>
    <servlet-name>QueryBooksServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.QueryBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryBooksServlet</servlet-name>
    <url-pattern>/QueryBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryBookByIdServlet</display-name>
    <servlet-name>QueryBookByIdServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.QueryBookByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryBookByIdServlet</servlet-name>
    <url-pattern>/QueryBookByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBookByIdServlet</display-name>
    <servlet-name>DeleteBookByIdServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.DeleteBookByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookByIdServlet</servlet-name>
    <url-pattern>/DeleteBookByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryBooksByNameServlet</display-name>
    <servlet-name>QueryBooksByNameServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.QueryBooksByNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryBooksByNameServlet</servlet-name>
    <url-pattern>/QueryBooksByNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBoookServlet</display-name>
    <servlet-name>UpdateBoookServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.UpdateBoookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBoookServlet</servlet-name>
    <url-pattern>/UpdateBoookServlet</url-pattern>
  </servlet-mapping>
</web-app>