<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StudentManagerWithDBUtils</display-name>
  <welcome-file-list>
    <!-- <welcome-file>QueryAllStudentServlet</welcome-file> -->
    <welcome-file>QueryStudentsByPage</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>QueryAllStudentServlet</display-name>
    <servlet-name>QueryAllStudentServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.QueryAllStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllStudentServlet</servlet-name>
    <url-pattern>/QueryAllStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryStudentByStuNoServlet</display-name>
    <servlet-name>QueryStudentByStuNoServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.QueryStudentByStuNoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryStudentByStuNoServlet</servlet-name>
    <url-pattern>/QueryStudentByStuNoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryStudentByStuNameServlet</display-name>
    <servlet-name>QueryStudentByStuNameServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.QueryStudentByStuNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryStudentByStuNameServlet</servlet-name>
    <url-pattern>/QueryStudentByStuNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentServlet</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudentByStuNoServlet</display-name>
    <servlet-name>DeleteStudentByStuNoServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.DeleteStudentByStuNoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudentByStuNoServlet</servlet-name>
    <url-pattern>/DeleteStudentByStuNoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentByStuNoServlet</display-name>
    <servlet-name>UpdateStudentByStuNoServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.UpdateStudentByStuNoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentByStuNoServlet</servlet-name>
    <url-pattern>/UpdateStudentByStuNoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryStudentsByPage</display-name>
    <servlet-name>QueryStudentsByPage</servlet-name>
    <servlet-class>org.lanqiao.servlet.QueryStudentsByPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryStudentsByPage</servlet-name>
    <url-pattern>/QueryStudentsByPage</url-pattern>
  </servlet-mapping>
</web-app>