<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Product1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>QueryAllProductServlet</display-name>
    <servlet-name>QueryAllProductServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.QueryAllProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllProductServlet</servlet-name>
    <url-pattern>/QueryAllProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryProdutByIdServlet</display-name>
    <servlet-name>QueryProdutByIdServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.QueryProdutByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryProdutByIdServlet</servlet-name>
    <url-pattern>/QueryProdutByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editProductServlet</display-name>
    <servlet-name>editProductServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.editProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editProductServlet</servlet-name>
    <url-pattern>/editProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteProdutByIdServlet</display-name>
    <servlet-name>deleteProdutByIdServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.deleteProdutByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteProdutByIdServlet</servlet-name>
    <url-pattern>/deleteProdutByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCheckServlet</display-name>
    <servlet-name>DeleteCheckServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.DeleteCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCheckServlet</servlet-name>
    <url-pattern>/DeleteCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryProductByConditionServlet</display-name>
    <servlet-name>QueryProductByConditionServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.QueryProductByConditionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryProductByConditionServlet</servlet-name>
    <url-pattern>/QueryProductByConditionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showProductByPageServlet</display-name>
    <servlet-name>showProductByPageServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.showProductByPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showProductByPageServlet</servlet-name>
    <url-pattern>/showProductByPageServlet</url-pattern>
  </servlet-mapping>
</web-app>