<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletContext2</display-name>
  <context-param>
    <param-name>ServletContext_name1</param-name>
    <param-value>ServletContext_value1</param-value>
  </context-param>
  <context-param>
    <param-name>ServletContext_name2</param-name>
    <param-value>ServletContext_value2</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AServlet</servlet-name>
    <servlet-class>org.lanqiao.demo.AServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AServlet</servlet-name>
    <url-pattern>/AServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BServlet</display-name>
    <servlet-name>BServlet</servlet-name>
    <servlet-class>org.lanqiao.demo.BServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BServlet</servlet-name>
    <url-pattern>/BServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CServlet</servlet-name>
    <servlet-class>org.lanqiao.demo.CServlet</servlet-class>
    <init-param>
      <param-name>p1</param-name>
      <param-value>v1</param-value>
    </init-param>
    <init-param>
      <param-name>p2</param-name>
      <param-value>v2</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>CServlet</servlet-name>
    <url-pattern>/CServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DServlet</servlet-name>
    <servlet-class>org.lanqiao.demo.DServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DServlet</servlet-name>
    <url-pattern>/DServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CountDemo</servlet-name>
    <servlet-class>org.lanqiao.demo.CountDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountDemo</servlet-name>
    <url-pattern>/CountDemo</url-pattern>
  </servlet-mapping>
</web-app>